.admin-body-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #AdminNavbar{
        img{
            width: 25px;
            transition: transform 0.3s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
        button{
            background-color: transparent;
            border: none;
            outline: 0;
        }
    }

    .content{
        flex: 1;
        display: flex;
        flex-direction: column;
        & > div{
            flex: 1;
        }
    }
}

.admin-boxes-contaner{
    flex-wrap: wrap;
}

.admin-box{
    width: 300px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.01);
    }
    a{
        text-decoration: none;
        color: unset;
    }
}


.contador{
    .card{
        .card-header{
            img{
                width: 25px;
            }
        }
        .card-body{
            overflow: auto;
        }
    }
    table{
        img{
            width: 25px;
        }
    }
}


.btn-reset{
    background-color: transparent;
    outline: 0;
    border: unset;
}